.addStaff {
    height: auto;
    width: 90%;
    margin: auto;
    box-shadow: 0 0 4px 1px lightgray;
    padding: 2rem;
}

.inputContainer {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.table {
    height: 70%;
    overflow-y: scroll;
}

.table > div {
    height: 100%;
}

.allocated {
    height: auto;
    width: 100%;
    margin: auto;
    max-height: 400px;
    overflow-y: auto;
}

@media(min-width: 600px) {
    .inputContainer {
        width: 25rem;
    }
}
