.title {
    width: 90%;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h2 {
    margin: 0;
}

.block {
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    width: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: red;
    color: white
}
