.block {
    height: 10rem;
    width: 10rem;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 1px 1px 11px 1px lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    background-color: white;
}

.block p:first-child {
    font-size: 0.7rem;
    font-weight: bold;
    margin-top: 0.2rem;
    color: gray;
    text-transform: uppercase;
}

.block p:last-child {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}


